<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter | {{ tweeter }} Profile</title>
</head>
<body>
    <h1>{{ tweeter }}'s Profile</h1>
    <button><a href="/">home</a></button>
    <ul>
        {% for tweet in tweets %}
        <li style="border: solid black 2px; padding: 20px;">
            {{ tweet.description }}
            <br>
            <span style="font-style: italic; color:red">
                <a href="/tweeter/{{ tweet }}/">{{ tweeter }}</a>
            </span>
        </li>
        {% endfor %}
    </ul>
</body>
</html>